#mainContent ul.publications,
#wideContent ul.publications {
    list-style-type: none;
    margin-left: -6px;
    list-style-position:outside
}
#mainContent li.publication,
#wideContent li.publication {
    /*clear: left;*/
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #xxx;
    background: none;
}

li.publication {
	margin-bottom:12px;
}

li.publication div.shortname {
    float: left;
    width: 0em; /* shortname width */
    text-align: right;
}

li.publication div.publication {
    margin-left: 5.2em; /* shortname width + spacing */
    text-align: justify;
    padding-right: 4ex;
}

/*span.title a:link,
span.title a:visited,
span.links a:link,
span.links a:visited,
span.book a:link,
span.book a:visited {
 text-decoration: none;
}

span.title a:link,
span.title a:visited,
span.title a:hover {
    color: #06E;
}
*/

/* title colour for pubs without default links */
span.date,
span.school,
span.institution,
span.pubtype,
span.authors,
span.title {
    text-decoration: none;
    color: #000;
}

span.jtitle {
    text-decoration: none;
    color: #000;
}

span.jtitle_pages,
span.book_pages {
    text-decoration: none;
    color: #000;
}
/*
span.links a:link {
    text-decoration: none;
    color: #06E;
}
span.links a:visited {
    text-decoration: none;
    color: #06E;
}
span.links a:hover {
    text-decoration: none;
    color: #06E;
    /* text-decoration: underline;
}


span.book {
    text-decoration: none;
    color: #000;
}

span.book a:link {
    text-decoration: none;
    color: #000;
}

span.book a:visited {
    color: #06E;
    text-decoration: none;
}

span.book a:hover {
    color: #000;
    text-decoration: none;
}
*/

span.book span.book_title {
    text-decoration: none;
/*
  border-bottom: 1px dotted #000;
  font-style: italic;
*/
}

span.book span.in {
    text-decoration: none;
/* font-style: italic; */
}
