#contact
{
background-color:#F8F8F8;
float:right;
width:330px;
padding:15px;
border:3px solid gray;
margin:15px;
border-style:dotted;
font-family:Arial;
}

#menu
{
    position:fixed;
    width:150px;
    left:48px;
    top:0px
    padding:5px;
    border:0px solid gray;
    margin:0;
    border-style:solid;
    background-color:#C8C8C8;
    line-height:170%;
    font-family:Arial;
    text-align:left;
}



#main
{
text-align:left;
background-color:White;
position:relative;
left:200px;
width:80%;
padding:15px;
border:0px solid gray;
margin:0px;
border-style:dotted;
font-family:Arial;
}


#news
{
background-color:#F8F8F8;
width:60%;
padding:0px;
border:0px solid gray;
margin:0px;
border-style:dotted;
font-family:Arial;
height:12em;
overflow:auto;
}

#description
{
padding-left:20px;font-size:80%;
}


#abstract{
    background-color:#F8F8F8;
    margin:auto;
    width:90%;
    padding:5px;
    border:2px solid gray;
    border-style:dotted;
    font-family:Arial;
    text-align:justify;
}


body {
background-color:#C8C8C8;
}

h1 {text-transform:uppercase; text-align:left; line-height:100%; font-family:"Lucida Console"; letter-spacing:10px; font-style:normal;}

h2 {
text-decoration:none;
text-align:left;
color:#585858;
line-height:100%;
font-family:"Lucida Console";
letter-spacing:4px;
font-style:normal;
/* padding-left: 10px; */
/* border-left: solid thick #585858 ; */
}

h2.topspace{
margin: 50px 0 10px 0; /* top right bottom left */
}

h3 {text-align:left;
    font-weight:normal;
    padding-left: 15px;
    line-height:100%;
    font-family:"Lucida Console";
    letter-spacing:10px;
    font-style:normal;}

h4 {text-align:left;
    padding-left: 30px;}

h1.right{text-align:right;}
p.right{text-align:right;}

a:link {color:#993333;text-decoration:none;}    /* unvisited link */
a:visited {color:#993333;text-decoration:none;} /* visited link */
a:hover {color:#993333;text-decoration:none;}   /* mouse over link */
a:active {color:#993333;text-decoration:none;}  /* selected link */


.menu a:link {color:#000000;text-decoration:none;display:block;}    /* unvisited link */
.menu a:visited {color:#000000;text-decoration:none;} /* visited link */
.menu a:hover {color:#000000;text-decoration:none;color:#993333;}   /* mouse over link */
.menu a:active {color:#000000;text-decoration:none;}  /* selected link */

.passed a:link {color:#A0A0A0;text-decoration:none;}    /* unvisited link */
.passed a:visited {color:#A0A0A0;text-decoration:none;} /* visited link */
.passed a:hover {color:#A0A0A0;text-decoration:none;}   /* mouse over link */
.passed a:active {color:#A0A0A0;text-decoration:none;}  /* selected link */
.passed a{color:#A0A0A0;text-decoration:none;}

ul
{
list-style-position:inside;
}

li
{
    margin-bottom:2px;
    list-style-position:inside;
}


div#pc > ul {
	height:10em;
	overflow:auto;
}



.menu li
{
list-style-position:inside;
list-style-type: none;
}

li.small{
    font-size:65%; line-height:160%;
}

.addbottomspace{
    margin-bottom:20px;/* top right bottom left */
}

.addtopspace{
    margin-top:40px;/* top right bottom left */
}
.publications  li
{
    list-style-type:decimal;
    list-style-position:outside;
    margin: 0 0 5px 0; /* top right bottom left */
}

.publications h2
{
    margin: 50px 0 0 0; /* top right bottom left */
}


.doi a{
    font-size:x-small;
    margin: 0 0 0 0;
    color:#585858;
}


p.abstract{
    background-color:#F8F8F8;
    margin:auto;
    width:90%;
    padding:5px;
    border:2px solid gray;
    border-style:dotted;
    font-family:Arial;
    text-align:justify;
}

p.footer{
    font-size:small;
    text-align:right;
}

p.code{
    white-space:pre;
    font-family:"Courier New";
    background-color:#F8F8F8;
}
